#submit{
    color: black;
    background-color:blue ;
}
#reset{
    color: black;
    background-color:red;
}
#Register{
    color: aqua;

}
#Body{
    color: black;
    background-color: darkslategray;
}