#submit{
    color: black;
    background-color:blue ;
}
#reset{
    color: black;
    background-color:red;
}
#Register{
    color: aqua;
    font-size: 50px;
    text-align: center;

}
#Body{
    color: black;
    background-color: gray;
    background-position: center;
    border-width: 10px;
}
.lable{
font-family: cursive ;
font-size: 20px;
color: black;
border-width: 2px;
border-style: solid;
border-color: black;
border-radius: 5px;
background-color:skyblue;

}